article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    border-bottom: solid 0.0625rem var(--color-border);
    padding-bottom: 2rem;
}
article h2 {
    width: max-content;
    padding-top: .375rem;
    white-space: nowrap; 
    overflow: hidden;  
    text-overflow: ellipsis; 
    width: 70%;
}
article h3 {
    min-width: 30%;
    align-self: center;
    display: flex;
    justify-content: end;
}
article img {
    order: 4;
    width: 20%;
    height: fit-content;
}
article p {
    flex: 1;
    margin-right: 2rem;
}