/* Alla var(token) värden hämtas från tokens.css filen */
body {
    font-family: 'Darkmode Trial', Arial, Helvetica, sans-serif;
    font-size: var(--body-font-size);
    display: grid;
  
    /* Grid: vänstermarginal, main, aside, högermarginal */
    grid-template-columns: 
     1fr /* infinity marginal */
    minmax(auto, var(--max-width-main-area)) /* main centrerd med aside */
    minmax(auto, var(--max-width-aside-area)) /* aside centrerd med main */
    1fr; /* infinity marginal */
  
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      ". main aside ."
      "footer footer footer footer";
  
    background-color: var(--color-main-background);
    color: var(--color-base-font);
    margin-bottom: 2rem;
}
main {
    grid-area: main;
    margin: 2rem;
}
aside {
    grid-area: aside;
    margin: 2rem;
}
#container {
    display: contents;
}
h1 {
    font-size: var(--h1-font-size);
    font-weight: 600;
    margin-bottom: 0.5rem;
}
h2 {
    font-size: var(--h2-font-size);
    font-weight: 600;
    margin: 0.5rem 0 1.5rem;
}
h3 {
    font-size: var(--h3-font-size);
    margin-bottom: 0.2rem;
    font-weight: 600;
}
p {
    margin: 0 0 1.2rem;
    font-weight: 500;
}
a {
    color: var(--color-main-white);
    font-weight: 500;
    text-decoration: underline;
}
a:hover {
    color: var(--color-main-black);
    background-color: var(--color-main-white);
}

/* Ser till att länkar med absolut url får en tooltip med berättande text */
main a[href^="http"],
footer a[href^="http"] {
  position: relative;
}
/* Ser till att länkar med absolut url får en tooltip med berättande text */
main a[href^="http"]:hover::after,
footer a[href^="http"]:hover::after {
    content: "You are leaving this website!";
    position: absolute;
    top: 120%; 
    left: 0;
    white-space: nowrap;
    background: var(--color-main-black);
    color: var(--color-main-white);
    padding: 0.375rem 0.625rem;
    border-radius: 0.25rem;
    font-size: 1rem; 
    z-index: 100;
    opacity: 0;
    transform: translateY(-0.3125rem); 
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
}
/* Ser till att länkar med absolut url får en tooltip med berättande text */
main a[href^="http"]:hover::after,
footer a[href^="http"]:hover::after {
  opacity: 1;
  transform: translateY(0);
}

ul {
    margin: 0.5rem 0;
    padding: 0;
}
nav, footer {
    display: flex;
    justify-content: center;
    border-top: 0.0625rem solid var(--color-border);
    border-bottom: 0.0625rem solid var(--color-border);
}
