@media (max-width: 1200px) {
    #story img {
        width: 40%;
    }
}
@media (max-width: 1030px) {
    article img {
        width: 35%;
    }
}

@media (max-width: 991px) {
    main {
        margin: 2rem 1rem 2rem 2rem;
    }
    aside {
        margin: 2rem 2rem 2rem 1rem;
    }
    .promote {
        grid-template-areas:
            "headings2 headings3"
            "img img"
            "content content";
        row-gap: 1rem;
    }
    .promote img {
        margin-top: .5rem;
        max-width: 70%;
        grid-area: img;
        justify-self: center;
        align-self: start;
    }
    .promote p {
        margin: 0;
    }
    article {
        margin: 0;
        padding-bottom: 1rem;
    }
}
@media (max-width: 850px) {
    article {
        display: block;
        margin-top: 1rem;
        clear: both;
    }
    article h2 {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    article h3 {
        display: inline;
        text-align: right;
        float: right;
        clear: right;
        padding-top: 0.4375rem;
    }
    article img {
        display: block;
        float: left;
        margin: 1rem 1.5rem .5rem 0;
    }
    article p {
        margin-top: 1rem;
    }
}
@media (max-width: 768px) {
    body {
        grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      ". main main ."
      ". aside aside ."
      "footer footer footer footer";
    }
    body {
        margin-top: 0;
        border-bottom: 1rem;
    }
    main {
        margin: 1rem 2rem ;
    }
    aside {
        margin: -1rem 2rem 2rem;
    }
    .promote {
        grid-template-areas:
            "headings2 headings3"
            "img img"
            "content content";
        row-gap: 1rem;
    }
    .promote p {
        margin: 0;
    }
    article img {
        width: 20%;
        max-width: 8rem;
        margin-right: 1rem;
    }
}
@media (max-width: 640px) {
    nav ul {
        justify-content: space-between;
        width: 100%;
    }
    nav li {
        flex: 0 0 25%;
        text-align: center;
    }
    nav li:first-child{
        border-left: none;
    }
    nav li:last-child{
        border-right: none;
    }
    main {
        margin: 1rem 1rem 2rem;
    }
    .promote img {
        max-width: 70%;
    }
    aside {
        margin: -2rem 1rem 2rem;
    }
}
@media (max-width: 500px) {
    .promote img {
        max-width: 100%;
        margin: 0;
    }
    article h2 {
        text-overflow: unset; 
        width: 100%;
    }
    article h3 {
        display: block;
        float: unset;
        text-align: left;
        padding-top: 0;
    }
    #story img {
        width: 100%;
    }
}
