footer {
    grid-area: footer; /* mappar footer kontainern grid rad */
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
}
footer p {
    margin: 0;
    padding: 0 1rem;
    text-align: center;
}