header {
    grid-area: header;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
nav {
    grid-area: nav; 
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}
nav li {
    border-left: 0.0625rem solid var(--color-border);
}
nav li:last-child {
    border-right: 0.0625rem solid var(--color-border);
}
nav li:hover {
    background-color: var(--color-main-white);
    color: black;
}
nav a {
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
}
nav li:hover a {
    background-color: var(--color-main-white);
    color: var(--color-main-black);
}  
header {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1600&q=80');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: fit-content;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9); /* lätt skugga på texten */
    padding-top: 1rem;
  }