#products{
    margin-bottom: 2.1875rem;
}
.promote {
    display: grid;
    grid-template-columns: auto 60%;
    grid-template-areas:
    "headings2 headings3"
    "img content";
    row-gap: 0.5rem;
    align-items: start;
    margin-top: 0;
}
.promote h2 {
    grid-area: headings2;
    margin: 0;
    padding-top: 0;
    border-bottom: solid 0.0625rem var(--color-border);
    width: 100%;
}
.promote h3 {
    grid-area: headings3;
    justify-self: end;
    align-self: end;
    margin: 0;
    width: unset;
    min-width: unset;
    border-bottom: solid 0.0625rem var(--color-border);
    width: 100%;
}
.promote img {
    grid-area: img;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 1.5rem;
}
.promote p {
    grid-area: content;
    margin: 1.5rem 0 0 2rem;
}