:root {
    /* Size units */
    --max-width-main-area: 70rem;
    --max-width-aside-area: 20rem;

    /* Color units */
    --color-main-background: #56859e; /*https://encycolorpedia.se/search?q=Surf+Blue */
    --color-main-white: #fff;
    --color-main-black: #222;
    --color-base-font: #fff;
    --color-link-button: #323232;
    --color-link-button-hover: #565656;
    --color-border: #fff;

    --button-color: color-mix(in srgb, var(--color-main-background) 80%, white 20%);
    --button-radio-checked-color: color-mix(in srgb, var(--color-main-black) 70%, var(--color-main-background) 100%); 

    /* Font units */
    --ingress-font-size: 1.125rem;
    --body-font-size: 1rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.125rem;
    --datetime-font-size: .75rem;
    --photo-article-header-font-size: 1rem;
    --photo-page-article-h2-font-size: 1.5rem;

    /* Margin and padding units */
    --frame-margin-or-padding-upto-768: 1.2rem;
    --frame-margin-or-padding-upto-390: .8rem;
}