:root {
    /* Size units */
    --max-width-main-area: 70rem;
    --max-width-aside-area: 20rem;

    /* Color units */
    --color-main-background: #56859e; /* Surf blå https://encycolorpedia.se/search?q=Surf+Blue */
    --color-main-white: #fff;
    --color-main-black: #222;
    --color-base-font: #fff;
    --color-border: #fff;

    --button-color: color-mix(in srgb, var(--color-main-background) 80%, white 20%);
    --button-radio-checked-color: color-mix(in srgb, var(--color-main-black) 70%, var(--color-main-background) 100%); 

    /* Font units */
    --body-font-size: 1rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.125rem;

    /* Margin and padding units */
    --default-margin: 2rem;
    --default-padding: 1rem;
}